.action-link {
  color: #549ff9;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.text-input {
  width: 330px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px solid var(--gray-30, #b4b4bb);
  background: var(--White-Base, #fff);
  padding: 15px 30px;
  outline: none;

  &::placeholder {
    color: #aaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.default-btn {
  text-align: center;
  padding: 5px 20px;
  border-radius: 99px;
  background: #152540;

  border: none;
  outline: none;
  width: 328px;
  height: 46px;
  flex-shrink: 0;
  cursor: pointer;

}

.default-btn {
  @include globalFontStyle();
  /* 200% */
}


.dropdown {
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  padding: 15px;
  cursor: pointer;
  border-radius: 4px;
  background: #F3F6F9;
  width: 100%;
  display: flex;
  flex-direction: column;
  &-options{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .dropdown-option{
      @include globalFontStyle($color:#464E5F);
      padding: 4px;
      &:hover{
        background: #DDE6F5;
      }
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  outline: none;

  input {
    position: absolute;
    top: -99999px;
    left: -99999px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: 26px;
      width: 26px;
      left: 4px;
      bottom: 4px;
      background-color: white;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: #2196F3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }
}
