.action-link {
  color: #549ff9;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-input {
  width: 330px;
  height: 46px;
  border-radius: 10px;
  border: 1px solid var(--gray-30, #b4b4bb);
  background: var(--White-Base, #fff);
  padding: 15px 30px;
  outline: none;
  &::placeholder {
    color: #aaa;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.default-btn {
  text-align: center;
  padding: 5px 20px;
  border-radius: 99px;
  background: #152540;
  color: var(--White-Base, #fff);
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  cursor: pointer;
}
